<web-app>
    <servlet>
        <servlet-name>sandbox</servlet-name>
        <servlet-class>net.example.servlets.SandboxServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sandbox</servlet-name>
        <url-pattern>/sandbox</url-pattern>
    </servlet-mapping>
</web-app>